################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Automata/.vs/Automata/v16
Automata/.vs/Automata/v16/.suo
Automata/.vs/Automata/v16/Browse.VC.db
Automata/.vs/Automata/v16/.suo
Automata/.vs/Automata/v16/Browse.VC.db
Automata/Automata/Automata.vcxproj
