################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Automata/.vs
/Automata/v16
/Automata/Automata/Debug
Automata/Automata/Automata.vcxproj
/Automata/Automata/x64/Debug
/Automata/x64/Debug
Automata/Automata/Automata.vcxproj.user
